section.portfolio
  .container
    .topo
      text-align: center
      margin: 120px auto 20px auto
      h1
        +font-size(30px)
        color: $cinza
        font-weight: $bold
        text-transform: uppercase
        .laranja
          color: $laranja !important
          .inicial
            +font-size(40px)
    .trabalhos
      .job
        margin-bottom: 25px
        a
          text-align: center
          text-decoration: none
          color: $cinza
          .imagem
            img
              margin: 0 auto
              width: 300px
              border-top: 3px solid $laranja
          .titulo
            margin: 0 auto
            h1
              color: $laranja
              font-weight: $bold
              +font-size(25px)
              margin: 10px auto
          .texto
            p
              color: $cinza
              +font-size(18px)
              margin: 5px auto
        +breakpoint($notebook)
          display: inline-flex
          a
            .imagem
              img
                width: 450px
                margin: 0 50px
    .topo-port
      margin: 120px 20px auto
      text-align: center
      line-height: 18px
      .port-titulo
        color: $laranja
        +font-size(22px)
        margin: 0 auto
        font-weight: $bold
      .port-subtitulo
        color: $cinza
        +font-size(22px)
        margin: 0 auto
        font-weight: lighter
        font-style: italic
    .jobs
      color: $cinza
      margin: 25px auto
      .port-texto
        +font-size(20px)
      .port-consideracao
        +font-size(18px)
        font-weight: lighter
        font-style: italic
      .port-sub
        h2
          +font-size(20px)
          font-weight: $bold
          color: $laranja
      .port-imagem
        img
          margin: 0 auto
          width: 250px
          border-top: 2px solid $laranja
      .port-imagem-2
        border-top: 2px solid $laranja
        img
          margin: 0 auto
          padding: 0
          width: 150px
